<!-- arrow card -->
<div style="width: 30%;" class="card card-arrow card-arrow--orange dark-text">
    <h3 class="card-arrow__heading">Fractional CMO Services</h3>
    <hr>
    <p>Lorem ipsum dolor sit amet consectetur, adipisicing elit. Quam obcaecati sed ad non explicabo earum libero a ipsum molestias quae.</p>
    <svg class="icon icon-arrow">
     <use xlink:href="images/sprite.svg#arrow"></use>
 </svg>
 </div>

 <!-- arrow2 card -->
 <div style="width: 30%;" class="card card-arrow2 card-arrow--orange dark-text ">
    <h3 class="card-arrow2__heading">Fractional CMO Services</h3>
    <hr>
    <p>Lorem ipsum dolor sit amet consectetur, adipisicing elit. Quam obcaecati sed ad non explicabo earum libero a ipsum molestias quae.</p>
    <svg class="icon icon-arrow">
     <use xlink:href="images/sprite.svg#arrow"></use>
 </svg>
 </div>

 <!-- outline card -->
 <div style="width: 30%;" class="card card-outline">
    <svg class="icon icon-white icon-container--square icon-container--accent">
        <use xlink:href="images/sprite.svg#tv-solid"></use>
    </svg>
    <h3>Digital Growth Strategies</h3>
    <p>Lorem, ipsum dolor sit amet consectetur adipisicing elit. Soluta, maiores officiis non impedit iure eaque. Dignissimos fugiat aut odio minus.</p>
</div>

<!-- plus card -->
<div style="width: 30%;" class="card card-outline card-outline--secondary">
    <div class="card-outline-content">
    <svg class="icon icon--white icon-container--circle icon-container--secondary ">
        <use xlink:href="images/sprite.svg#plus"></use>
    </svg>
    <h3>Digital Growth Strategies</h3>
    <p>Lorem, ipsum dolor sit amet consectetur adipisicing elit. Soluta, maiores officiis non impedit iure eaque. Dignissimos fugiat aut odio minus.</p>
   </div>
  </div>

