<footer class="footer">
    <img class="footer__logo" src="images/Growthguy.webp" alt="">
    <ul class="list footer__list ">
        <li class="footer__items"><a href="#">Privacy Policy</a></li>
        <li class="footer__items"><a href="#">Terms of Service</a></li>
        <li class="footer__items"><a href="#">Refunds & Cancellations</a></li>
        <li class="footer__items"><a href="#">Shipping</a></li>
    </ul>
    <ul class="list footer__list ">
        <li class="footer__items"><a href="#">Home</a></li>
        <li class="footer__items"><a href="#">Blug</a></li>
        <li class="footer__items"><a href="#">Contact</a></li>
    </ul>
</footer>
<hr>
<footer class="footer">
    <p class="footer__list">Copyright @2024 Growthguy | All rights reserved.</p>
    <div class="footer__list">
    <svg class="icon icon--small icon--white ">
        <use xlink:href="images/sprite.svg#linkdin"></use>
    </svg>
    <svg class="icon icon--small icon--white">
        <use xlink:href="images/sprite.svg#twitter"></use>
    </svg>
    <svg class="icon icon--small icon--white">
        <use xlink:href="images/sprite.svg#reddit"></use>
    </svg>
    <svg class="icon icon--small icon--white">
        <use xlink:href="images/sprite.svg#facebook"></use>
    </svg>
</div>
</footer>