<!-- star icon -->
<span >
    <svg class="icon icon-star">
        <use xlink:href="images/sprite.svg#star"></use>
    </svg>
    <svg class="icon icon-star">
        <use xlink:href="images/sprite.svg#star"></use>
    </svg>
    <svg class="icon icon-star">
        <use xlink:href="images/sprite.svg#star"></use>
    </svg>
    <svg class="icon icon-star">
        <use xlink:href="images/sprite.svg#star"></use>
    </svg>
    <svg class="icon icon-star">
        <use xlink:href="images/sprite.svg#star"></use>
    </svg>
</span> 

