<div class="owl-carousel owl-theme">
    <article class="card article-card">
      <div class="icon-container--circle icon-container--accent icon--large">
      <svg class="icon">
        <use xlink:href="images/sprite.svg#user-solid"></use>
    </svg>
    </div>
      <h3 class="article__heading">Lorem ipsum dolor sit amet.</h3>
      <p class="article__carrier">Lorem, ipsum.</p>
      <p>Lorem ipsum dolor sit amet consectetur adipisicing elit. Quasi, illo.</p>
    </article>
    
    <article class="card article-card">
      <div class="icon-container--circle icon-container--accent icon--large">
      <svg class="icon">
        <use xlink:href="images/sprite.svg#user-solid"></use>
    </svg>
    </div>
      <h3 class="article__heading">Lorem ipsum dolor sit amet.</h3>
      <p class="article__carrier">Lorem, ipsum.</p>
      <p>Lorem ipsum dolor sit amet consectetur adipisicing elit. Quasi, illo.</p>
    </article>
    
    <article class="card article-card">
      <div class="icon-container--circle icon-container--accent icon--large">
      <svg class="icon">
        <use xlink:href="images/sprite.svg#user-solid"></use>
    </svg>
    </div>
      <h3 class="article__heading">Lorem ipsum dolor sit amet.</h3>
      <p class="article__carrier">Lorem, ipsum.</p>
      <p>Lorem ipsum dolor sit amet consectetur adipisicing elit. Quasi, illo.</p>
    </article>
    
    <article class="card article-card">
      <div class="icon-container--circle icon-container--accent icon--large">
      <svg class="icon">
        <use xlink:href="images/sprite.svg#user-solid"></use>
    </svg>
    </div>
      <h3 class="article__heading">Lorem ipsum dolor sit amet.</h3>
      <p class="article__carrier">Lorem, ipsum.</p>
      <p>Lorem ipsum dolor sit amet consectetur adipisicing elit. Quasi, illo.</p>
    </article>
    
  </div> 

  <script src="https://cdnjs.cloudflare.com/ajax/libs/jquery/3.7.1/jquery.min.js" integrity="sha512-v2CJ7UaYy4JwqLDIrZUI/4hqeoQieOmAZNXBeQyjo21dadnwR+8ZaIJVT8EE2iyI61OV8e6M8PP2/4hpQINQ/g==" crossorigin="anonymous" referrerpolicy="no-referrer"></script>
<script src="https://cdnjs.cloudflare.com/ajax/libs/OwlCarousel2/2.3.4/owl.carousel.min.js" integrity="sha512-bPs7Ae6pVvhOSiIcyUClR7/q2OAsRiovw4vAkX+zJbw3ShAeeqezq50RIIcIURq7Oa20rW2n2q+fyXBNcU9lrw==" crossorigin="anonymous" referrerpolicy="no-referrer"></script>
 <script>
  $(document).ready(function(){
  $(".owl-carousel").owlCarousel({
    loop:true,
    margin:10,
    nav:true,
    dots:false,
    autoplay:true,
    autoplayTimeout:5000,
    autoplayHoverPause:false,
    responsiveClass:true,
    responsive:{
        0:{
            items:1,
            
        },
        768:{
            items:2,
        }
    }
    
  });
});
 </script>
